<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single product</title>
  </head>
  <body>
    <h1>Product Details Page</h1>
    <div id="product-container">Loading product details ...</div>
  </body>
  <script>
    const splitArray = location.pathname.split('/');
    let productId = splitArray[2];
    const productContainer = document.getElementById('product-container');
    fetch('/api/product/' + productId)
      .then((response) => response.json())
      .then((data) => {
        let product = data.product;
        productContainer.innerHTML = `
        <div>Product Id : ${product.id}</div>
        <img
            src="${product.imageUrl}"
            height="400"
            width="600"
            alt="product image"
        />
        <div>name: ${product.name}</div>
        <div>price: ${product.price}</div>
        <div>quantity: ${product.quantity}</div>
        <a href="/product">Go to products </a>
        `;
      });
  </script>
</html>
